<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_joint" type="fixed">
      <xacro:insert_block name="joint_origin" />
      <parent link="${parent}" />
      <child link="base_link" />
    </joint>
    <link name="base_link">
      <visual>
        <origin xyz="0.0168 0.0282 -0.0085" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pico_description/meshes/base_link.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <visual>
        <origin xyz="0.0015 0 0.0313" rpy="0 0 3.14"/>
        <geometry>
          <mesh filename="package://pico_description/meshes/pico3_main.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <visual>
        <origin xyz="0.04355555 0 0.012" rpy="0 0 1.57"/>
        <geometry>
          <mesh filename="package://pico_description/meshes/pico3_sensor.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <visual>
        <origin xyz="-0.0495 0 0.02" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pico_description/meshes/pico3_power.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
    </link>
  </xacro:macro>
</robot>

